@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-green: #23630F;
	--color-para: #999999;
	--color-yellow: #EFBA1C;
	--color-border: #D1C9C9;
	--color-lightgreen:#80B501;

	--ff-main: 'Lato', sans-serif;
}
html {
   scroll-behavior: smooth; 
   font-size: 62.5%;
   margin: auto;
}
body {
	overflow-x: hidden;
	margin: auto;
	font-family: var(--ff-main);
	max-width: 1600px;
}
ol, ul {
	list-style: none;
}
li{
	font-family: var(--ff-main);
}
a {
	font-family: var(--ff-main);
	text-decoration: none;
    cursor: pointer;
	font-size: 1.6rem; 
	display: block;
}


input,
label,
select,
button,
textarea {
	border: 0;
	display: block;
	white-space: normal;
	background: none;
	line-height: 1;
	font-family: var(--ff-main);
	font-size: 1.6rem; 
	border-radius: 1rem;
}

input,
textarea{
	padding: 1rem;
}

input,
label,
select,
button,
textarea :focus { 
	outline: 0;
}
label{
	font-size: 2rem;
	margin-bottom: 1rem;
}
button{
	cursor: pointer;
}
button:hover{
	transform: scale(1.02);
}
h1, h2, h3, h4, h5, h6, p{
	font-family: var(--ff-main);
} 

img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}


