a{
    text-decoration: none !important;
}
.active{
    background: none ;
}
.message-img img{
    width: 100%;
    height: 650px;
}
.row-message{
    padding: 0% 3rem;
}

.deal{
    background: #E7F3FC;
    padding: 1rem;
    border-radius: 0.5rem;
    min-height: 285px;
    box-shadow: 0 0 11px #ddd;
}
.deal-2{
    background: #E7F3FC;  
}
.carousel-indicators{
    margin-bottom: -6rem!important;
}
.deal p{
    font-size: 2rem;
}

.carousel-indicators .active {
    background-color: #119FFE!important;
    width: 40px!important;
    height:7px!important;
}

@media (min-width: 1200px){
    .benefits .col-lg-1 {
        width: 6%;
    }
    }


/***********************************tab style starts************************************/


@keyframes content-opacity {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
@keyframes content-rotate-y {
from {
-moz-transform: rotateY(90deg);
-ms-transform: rotateY(90deg);
-webkit-transform: rotateY(90deg);
transform: rotateY(90deg);
}
to {
opacity: 1;
-moz-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
-webkit-transform: rotateY(0deg);
transform: rotateY(0deg);
}
}
@keyframes content-rotate-x {
from {
-moz-transform: rotateX(90deg);
-ms-transform: rotateX(90deg);
-webkit-transform: rotateX(90deg);
transform: rotateX(90deg);
}
to {
opacity: 1;
-moz-transform: rotateX(0deg);
-ms-transform: rotateX(0deg);
-webkit-transform: rotateX(0deg);
transform: rotateX(0deg);
}
}
@keyframes content-rotate-both {
from {
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
-moz-transform-origin: 0% 50% 50%;
-ms-transform-origin: 0% 50% 50%;
-webkit-transform-origin: 0% 50% 50%;
transform-origin: 0% 50% 50%;
}
to {
opacity: 1;
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
-moz-transform-origin: 0% 50% 50%;
-ms-transform-origin: 0% 50% 50%;
-webkit-transform-origin: 0% 50% 50%;
transform-origin: 0% 50% 50%;
}
}
@keyframes content-pop-out {
0% {
opacity: 1;
-moz-transform: scale(1);
-ms-transform: scale(1);
-webkit-transform: scale(1);
transform: scale(1);
}
50% {
opacity: 1;
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
100% {
opacity: 1;
-moz-transform: scale(1);
-ms-transform: scale(1);
-webkit-transform: scale(1);
transform: scale(1);
}
}
@keyframes content-pop-in {
from {
opacity: 1;
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
to {
opacity: 1;
-moz-transform: scale(1);
-ms-transform: scale(1);
-webkit-transform: scale(1);
transform: scale(1);
}
}
@keyframes content-slide-bot {
from {
top: 20px;
opacity: 0;
}
to {
top: 0px;
opacity: 1;
}
}
@keyframes content-slide-top {
from {
top: -20px;
opacity: 0;
}
to {
top: 0px;
opacity: 1;
}
}
/* used for wrapper animation after the load of the page */
@keyframes show {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
.download-msg{
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 2px #c1c1c1;
    height: auto;
    padding: 0rem 0rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-msg span{
    color: black;
    font-weight: 600;
    font-size: 2rem;
}
.download-msg img{
    width: 40px !important;

}
.message-meet-img{
    text-align: center;
    display: flex;
    justify-content: center;
}
.message-meet-img img{
    width: 350px;
}
@media (max-width:700px) {
    .head.message-head {
        margin: 4rem 0rem;
    }
    .message-img img {
height: 100%;
    }
    .deal-2{
        margin-top: 2rem;

    }
    .deal p {
        font-size: 1.4rem;
    }
    .message-meet-img img {
        width: 100%;
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
        display: none;
    }
    .message-content p {
        font-size: 14px !important;}
        .deal {
            min-height: 210px !important;
        }
        .row{
            padding-left: 0% !important;
            padding-right: 0% !important;
        }
        .book-fre img {
           
            width: 70% !important;
        }
        div.photo-container a span {
            left: 17%;
            top: 15%;
            width: 66% !important;
            font-size: 11px;
        }

}
.message-content p{
    font-size: 18px;
    padding-left: 1rem;
}
.dowmload-book{
    background-color: #EEECEC;
    color: #0C32B2;
    font-size: 1.6rem;
    border-radius: 5px ;
    padding: 1rem 3rem;
}
.book-fre{
    text-align: center;
}
.book-fre img{
    margin-bottom: 2rem;
    width: 100%;
}