.hero-creat-text-org p {
    display: grid;
    grid-template-columns: 20px auto;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 1.5rem;

}

.hero-creat-text-org .fa-star {
    margin-top: 0.6rem;
    font-size: 1.7rem;
    color: #FFD500;

}


.hero-creat-text-org p span {
    font-size: 1.8rem;
    color: black;
    vertical-align: middle;
    font-weight: 400;
    margin-left: 1.5rem;
    line-height: 1.6;
}

.box-new {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    background: #E7F3FC;
    padding: 2rem 2rem;
    border-radius: 0px;
}

.box-new h4 {
    font-size: 22px;
    font-weight: 700;
}

.box-new p {
    font-size: 17px;
    font-weight: 500;

}
@media (max-width:700px) {
    .row{
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .col-lg-12{
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .hero-creat-text-org p span {
        font-size: 1.4rem !important;
    }
    .box-new h4 {
        font-size: 18px;}
        .box-new p {
            font-size: 14px;}
}