.meditate p{
    margin-bottom: 2rem;
    font-size: 20px;
}
a{
    text-decoration: none !important;
}
.benefits h3{
    padding-left:3rem ;

    font-weight: 600;
    font-size: 27px;
}
table{
    width: 100%;
    border: none;
    

}
table thead th{
    color: white;
    font-weight: 600;
    background: #5DB1E9;
    text-align: center;
    padding: 1rem 0rem;
    font-size: 1.4rem;
   
}
tbody:before {
    line-height:0.5rem;
    content:"-";
    color:white; /* to hide text */
    display: block;
}
table tbody td{
    text-align: center; 
    padding: 1rem 0rem;
    background: #F6F6F6;
  
   
    padding: 6px;
    box-shadow:0 0 8px #666;
    font-size: 14px;
    border-radius: 2px;
    
}



.form-billing{
    box-shadow:0 0 5px rgb(181, 181, 181);
    padding: 3rem 6rem; 
    margin: 1% 3.5%;
    display: flex;
    justify-content: center;
    width: 75% !important;
}
.form-billing p{
    font-weight: 500;
    font-size: 1.7rem;
 }
.button-bottom{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.button-bottom .btn{
    background-color: #5DB1E9;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 0.5rem 2rem;
}



.ext-table{
    overflow-x:hidden;
}
@media (max-width:700px) {
    .ext-table{
        padding: 1rem 2rem !important;
    } 
    .form-billing .row{
        padding-left: 0% !important;
        padding-right: 0% !important;

    } 
    .form-billing .d-flex {
        gap:0px !important
    }
    
        .ext-table{
            overflow-x:scroll;
        }
        table thead th {
            
            font-size: 1.2rem;
        }
        .form-billing {
         width: 100% !important;
        }
        .form-billing p{
            font-weight: 500;
            font-size: 1.4rem;
         }
         table tbody td {
          
            font-size: 12px;}
}